* {
  font-family: helvetica, sans-serif;
}

body {
  background-color: white;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 0.5px dotted #999;
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
  width: 100%;
  font-size: 13px;
}

canvas {
  display: none;
}

#customize {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  padding-bottom: 10px;
}

#flex {
  display: flex;
  align-items: center;
}

h2 {
  margin-top: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 10px;
  font-size: 1em;
}

input[type=number] {
  padding: 5px;
  margin: 5px;
  width: 40px;
}

label {
  font-size: 0.9em;
}

#name1 {
  border: 2px solid olivedrab;
}

#name2 {
  border: 2px solid orange;
}

#name3 {
  border: 2px solid skyblue;
}

#jpgcanvas{
  height: 95vh;
}
