* {
  font-family: helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #999;
}

body {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 0.5px dotted #999;
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
  width: 100%;
  font-size: 13px;
  background-color: rgba(255,255,255,0.8);
}

.xl{
  padding: 50px 100px;
  width: auto;
}



canvas {
  display: none;
}

#customize {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

#footer {
  color: #555;
  margin-top: auto;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 10px;
  font-size: 1em;
}

input[type=number] {
  padding: 5px;
  margin-right: 5px;
  width: 40px;
}

input[type=text]{
  margin-bottom: 3px;
}

input[type=text], input[type=number] {
width: auto;
font-size: 1.1em;
height: 1.7em;
padding-left: 0.5em;
border-radius: 5px;
background: #fff;
overflow: hidden;
border: 1px solid #fff;
box-shadow: 1px 0 3px #ccc inset;
}

label {
  font-size: 0.9em;
}

.xlgaps{
  margin-top: 15px;
}

li {
  width: 100%;
  text-align: center;
  margin-bottom: 2vh;
}

ul {
  padding-left: 0;
  list-style: none;
}

nav {
  color: #999;
  font-size: 1.2em;
}

#logo {
  width: 10vw;
  height: 10vw;
  background-image: url("cs.png");
  background-size: cover;
  margin-top: 2vw;
}

#name1 {
  background: darkseagreen;
}

#name2 {
  background: gold;
}

#name3 {
  background: powderblue;
}

#name4 {
  background: gold;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  background: #333;
  height: 100vh;
}

#stains{
background-size: cover;
  background-image: url("actualStains/stain1.jpg");
  width: 22vw;
  height: 22vw;
  position: fixed;
  z-index: -1;
  top: 50px;
  right: 0;

}

#stains2{
background-size: cover;
  background-image: url("actualStains/stain2.jpg");
  width: 17vw;
  height: 43vw;
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 10vw;

}

#jpgcanvas {
  height: 90vh;
}

@media (max-width: 1111px){
  #stains2{
    visibility: hidden;
  }
}

@media (max-width: 920px){
  /* horizontal menu please */
  #customize{
    flex-direction: row;
  }
  label{
    font-size: 0.6em;
  }
  .box{
    max-width: 20vw;
  }
  input{
    max-width: 18vw;
  }

  body{
    padding-top: 120px;
  }
  #sidebar{
    flex-direction: row;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    padding-left: 30px;
  }
  #stains{
    visibility: hidden;
  }

  #flex{
    flex-direction: column;
  }

  nav{
    margin: 20px auto;
  }

  ul{

    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }
  li{
    margin: 10px;
    font-size: 0.9em;
  }
  #logo{
    width: 50px;
    height: 50px;
    margin: 5px 0;

  }
  #footer{
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 0.7em;

  }

  input[type=number]{
    width: 22px;
    padding: 1px;
    margin: 1px;
  }
  }

  @media (max-width: 600px){
    #calc{
      visibility: hidden;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  /* all the edit boxes go to the top */

}
